@model List<Product>


<div class="container text-center">
    <partial name="_Notification" />
    <div class="row mb-2">
        <div class="col-6">
            <h1> Product List</h1>
        </div>
        <div class="col-6 text-end ">
            <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-patch-plus mr-1"></i>
                Add Product
            </a>
        </div>
    </div>
    <div class="row">
        <table id="TDDate" class="table table-bordered table-striped ">
            <thead class="bg-dark text-light">
                <tr>
                    <th> Title </th>
                    <th> ISBN </th>
                    <th> Price </th>
                    <th> Author </th>
                    <th> Category </th>
                    <th></th>
                </tr>
            </thead>
  @*          <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>@product.ISBN</td>
                        <td>@product.Price</td>
                        <td>@product.Author</td>
                        <td>@product.Category.Name</td>
                        <td>
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-dark">
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger ">
                                <i class="bi bi-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>*@
        </table>
    </div>
    <div class="col-12 text-end ">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go Home</a>
    </div>
</div>